.DS_Store
node_modules
public/bundle.*
package-lock.json

#firebase
.firebaserc
firebase.json
firestore.indexes.json
firestore.rules
storage.rules
functions
firebase-debug.log
.firebase

#config

config.js